.checkbox-field {
  @apply mb-2 flex flex-row items-center gap-1.5 last:mb-0;
}

.checkbox-indicator {
  --checkmark-color: white;
  --invalid-color: var(--spectrum-global-color-static-red-600);
  --invalid-color-pressed: var(--spectrum-global-color-static-red-700);
  --border-opacity: 0.1;
  --border-color: rgba(theme(colors.alpha.700), var(--border-opacity));

  @apply flex
        h-4
        w-4
        items-center
        justify-center
        rounded
        bg-white
        shadow-[0_0_0_1px_var(--border-color),0_1px_0_0_rgba(0,0,0,0.08),0_1px_3px_0_rgba(0,0,0,0.1),0_1px_2px_-1px_rgba(0,0,0,0.1)]
        ring
        ring-transparent
        transition-all
        dark:bg-alpha-950
        dark:bg-opacity-20;

  & svg {
    width: 0.5rem;
    height: 0.5rem;
    fill: none;
    stroke: var(--checkmark-color);
    stroke-width: 3px;
    stroke-dasharray: 22px;
    stroke-dashoffset: 66;
    transition: all 200ms;
  }

  &[data-state="checked"],
  &[data-state="indeterminate"] {
    --border-color: rgba(theme(colors.primary.600), var(--border-opacity));
    @apply bg-primary-600 shadow-none;

    & svg {
      stroke-dashoffset: 44;
    }
  }
}
