.dropdown-menu {
  --border-opacity: 0.1;
  --border-color: rgba(theme(colors.alpha.700), var(--border-opacity));
  @apply min-w-[200px]
      rounded-md
      bg-white
      p-1.5
      shadow-[0_0_0_1px_var(--border-color),0_1px_0_0_rgba(0,0,0,0.08),0_1px_3px_0_rgba(0,0,0,0.1),0_1px_2px_-1px_rgba(0,0,0,0.1)]
      outline-none
      ring-0
      will-change-[opacity,transform]
      focus:outline-none
      focus-visible:outline-none
      dark:bg-alpha-800
      dark:shadow-none;

  & .dropdown-menu-inner {
    @apply focus:outline-none
        focus-visible:outline-none;
  }

  & .dropdown-menu-separator {
    @apply m-1.5 h-px bg-alpha-200 dark:bg-alpha-700/50;
  }

  & .dropdown-menu-arrow svg {
    @apply block
        fill-white;
    stroke: var(--border-color);
    stroke-width: 1px;
  }

  & .dropdown-menu-item {
    @apply relative
          flex
          cursor-pointer
          select-none
          items-center
          gap-1
          rounded
          p-2
          text-base
          leading-none
          text-alpha-700
          outline-none
          ring-0
          ring-offset-0
          hover:bg-alpha-50
          hover:text-alpha-800
          dark:text-alpha-300
          dark:hover:bg-alpha-900/50
          dark:hover:text-alpha-200;

    &.danger {
      @apply text-red-600
      hover:bg-red-50/50
      dark:text-red-500
      dark:hover:bg-red-800/10;

      & .dropdown-menu-item-icon {
        @apply text-red-400 dark:text-red-600;
      }
    }
  }

  & .dropdown-menu-item-icon {
    @apply h-4 w-4 text-alpha-400;
    stroke-width: 1.5;
  }

  &[data-placement="top"] {
    margin-bottom: 2px;
    --origin: translateY(8px);
  }

  &[data-placement="bottom"] {
    margin-top: 2px;
    --origin: translateY(-8px);

    & .dropdown-menu-arrow svg {
      transform: rotate(180deg);
    }
  }

  &[data-placement="right"] {
    margin-left: 2px;
    --origin: translateX(-8px);

    & .dropdown-menu-arrow svg {
      transform: rotate(90deg);
    }
  }

  &[data-placement="left"] {
    margin-right: 2px;
    --origin: translateX(8px);

    & .dropdown-menu-arrow svg {
      transform: rotate(-90deg);
    }
  }

  &[data-entering] {
    animation: dropdown-menu-slide 200ms;
  }

  &[data-exiting] {
    animation: dropdown-menu-slide 200ms reverse ease-in;
  }
}

@keyframes dropdown-menu-slide {
  from {
    transform: var(--origin);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
