.toast-region {
  @apply pointer-events-none
    fixed
    inset-4
    z-40
    flex
    flex-col
    items-end
    justify-end
    gap-2
    focus:outline-none
    focus-visible:outline-none;
}

.toast {
  --border-opacity: 0.1;
  --border-color: rgba(theme(colors.alpha.700), var(--border-opacity));
  @apply pointer-events-auto
    z-50
    inline-flex
    w-max
    items-center
    gap-4
    rounded
    bg-white
    px-4 py-3
    text-alpha-700
    shadow-[0_0_0_1px_var(--border-color),0_1px_0_0_rgba(0,0,0,0.08),0_1px_3px_0_rgba(0,0,0,0.1),0_1px_2px_-1px_rgba(0,0,0,0.1)];

  &-success {
    @apply bg-emerald-500 text-white shadow-md shadow-emerald-300/10;
  }
  &-danger {
    @apply bg-red-500 text-white shadow-md shadow-red-300/10;
  }
  &-warning {
    @apply bg-amber-500 text-white shadow-md shadow-amber-300/10;
  }
  &-info {
    @apply bg-blue-500 text-white shadow-md shadow-blue-300/10;
  }

  &-top-right {
    /* @apply place-self-end self-end; */
    grid-area: tr;
  }
  &-top-center {
    /* @apply place-self-end self-end; */
    grid-area: tc;
  }
  &-top-left {
    /* @apply place-self-end self-end; */
    grid-area: tl;
  }
  &-bottom-right {
    /* @apply place-self-end self-end; */
    grid-area: br;
  }
  &-bottom-center {
    /* @apply place-self-end self-end; */
    grid-area: bc;
  }
  &-bottom-left {
    /* @apply place-self-end self-end; */
    grid-area: bl;
  }

  & .close-button {
    @apply flex
        appearance-none
        items-center
        justify-center
        rounded
        p-1
        text-inherit
        transition
        hover:bg-black
        hover:bg-opacity-10
        focus:outline-none
        focus-visible:outline-none;

    & svg {
      @apply h-4 w-4;
    }
  }
}
