NEXTAUTH_URL=https://vardast.ir
NEXTAUTH_SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32

NPM_TOKEN=YOUR_TOKEN_HERE

NEXT_PUBLIC_GRAPHQL_API_ENDPOINT=https://dev.api.vardast.ir/graphql
NEXT_PUBLIC_API_ENDPOINT=https://dev.api.vardast.ir
NEXT_PUBLIC_URL=https://dev.api.vardast.ir
NEXT_PUBLIC_TITLE="وردست"
NEXT_PUBLIC_SLOGAN="دستیار خرید و فروش مصالح و تجهیزات ساختمانی"