.app {
  @apply flex h-screen flex-col bg-gray-50 dark:bg-gray-900;
}

.app-inner {
  @apply flex h-auto flex-1 overflow-hidden;
}

.app-content {
  @apply relative
    flex
    h-auto
    w-full
    flex-col
    overflow-auto
    overscroll-contain
    px-4
    py-4
    lg:py-6;
}

.app-sidebar {
  @apply absolute
    top-0
    z-50
    h-full
    flex-shrink-0
    translate-x-80
    bg-gray-100
    bg-opacity-90
    backdrop-blur-sm
    transition
    duration-200
    dark:bg-gray-950
    dark:bg-opacity-10
    lg:sticky
    lg:translate-x-0;

  &.open {
    @apply translate-x-0;
  }

  .app-sidebar-inner {
    @apply relative flex h-full;
  }
}

.app-navigation {
  @apply z-10
    w-80
    flex-shrink-0
    border-l
    border-gray-100
    py-5
    transition-all
    dark:border-gray-800
    dark:border-opacity-40;

  .app-navigation-container {
    @apply flex flex-1 flex-col gap-8 overflow-y-auto;
  }
  .app-navigation-section {
    &-list {
      @apply flex flex-col gap-1;
    }
    &-label {
      @apply py-2
        text-sm
        font-medium
        text-gray-600
        dark:text-gray-500;
    }
  }
  .app-navigation-item {
    > span {
      @apply flex
          w-full
          items-center
          gap-2
          rounded
          px-2
          py-3
          leading-normal
          text-gray-700
          hover:bg-gray-200
          hover:bg-opacity-50
          dark:text-gray-400
          dark:hover:bg-gray-800
          dark:hover:bg-opacity-30;
    }

    .app-navigation-item-link {
      @apply flex flex-1 items-center gap-2;

      .icon {
        @apply h-5
        w-5
        text-gray-400
        dark:text-gray-600;
      }
    }

    .app-navigation-item-arrow {
      @apply mr-auto
            flex
            h-6
            w-6
            items-center
            justify-center
            text-gray-500
            focus:outline-none
            focus-visible:outline-none
            dark:text-gray-600;
    }

    &:has(.active),
    &.active {
      > span {
        @apply bg-gray-200
              font-medium
              text-gray-800
              dark:bg-gray-800
              dark:bg-opacity-50
              dark:text-gray-200;
      }

      .app-navigation-item-link {
        .icon {
          @apply text-gray-700
                  dark:text-gray-300;
        }
      }
      .app-navigation-item-arrow {
        @apply rotate-180;
      }
      .app-navigation-item-children {
        @apply flex;
      }
    }

    &.has-child.open {
      .app-navigation-item-arrow {
        @apply rotate-180;
      }
      .app-navigation-item-children {
        @apply flex;
      }
    }

    .app-navigation-item-children {
      @apply ms-4
        hidden
        flex-col
        border-s
        border-gray-300
        pt-3
        dark:border-gray-700;

      .app-navigation-item-children-item {
        .app-navigation-item-children-item-link {
          @apply flex
            w-full
            items-center
            space-x-2
            space-x-reverse
            rounded
            px-2
            py-3
            leading-normal
            text-gray-600
            before:-ms-3
            before:me-3
            before:block
            before:h-2
            before:w-2
            before:rounded-full
            before:bg-gray-300
            hover:text-gray-700
            dark:text-gray-500
            dark:before:bg-gray-700
            dark:hover:text-gray-400;

          &.active {
            @apply text-gray-700 before:bg-brand-600 dark:text-gray-400;
          }
        }
      }
    }
  }
}

[data-radix-popper-content-wrapper] {
  width: 100%;
  max-width: var(--radix-popper-anchor-width);
}
