.modal {
  &-overlay {
    @apply fixed inset-0 z-50 bg-gray-900 bg-opacity-40 backdrop-blur-sm;

    animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  }

  &-container {
    @apply fixed left-1/2 top-1/2 z-50 max-h-[85vh] w-[90vw] max-w-2xl -translate-x-1/2 -translate-y-1/2 overflow-hidden rounded-md bg-white shadow-2xl focus:outline-none;

    animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  }

  &-sm {
    & .modal-container {
      @apply max-w-sm;
    }
  }
  &-md {
    & .modal-container {
      @apply max-w-md;
    }
  }
  &-lg {
    & .modal-container {
      @apply max-w-lg;
    }
  }
  &-xl {
    & .modal-container {
      @apply max-w-xl;
    }
  }

  &-inner {
    @apply w-full flex-1 overflow-y-auto;
  }

  &-header {
    @apply sticky top-0 bg-white p-6 pb-1;
  }

  &-footer {
    @apply bg-gray-100 px-6 py-2;
  }

  &-content {
    @apply p-6;
  }

  &-title {
    @apply text-lg font-extrabold text-gray-800;
  }

  &-description {
    @apply mb-5 mt-2 text-base font-normal text-gray-500;
  }

  &-close {
    @apply absolute left-1 top-1;
  }
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
