.dialog-overlay {
  @apply fixed inset-0 z-50 bg-n-gray-900 bg-opacity-40 backdrop-blur-sm;

  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.dialog-content {
  @apply fixed left-1/2 top-1/2 z-50 max-h-[85vh] w-[90vw] max-w-2xl -translate-x-1/2 -translate-y-1/2 rounded-md bg-white p-6 shadow-2xl focus:outline-none;

  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.dialog-title {
  @apply text-lg font-extrabold text-n-gray-800;
}

.dialog-description {
  @apply mb-5 mt-2 text-base font-normal text-n-gray-500;
}

.dialog-close {
  @apply absolute left-1 top-1;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
